## Entity
<p><%= partial "includes/entity/entity.md.erb" %></p>

## Character
<p><%= partial "includes/entity/character.md.erb" %></p>

## ScriptedCharacter
<p><%= partial "includes/entity/scripted_character.md.erb" %></p>

## Player
<p><%= partial "includes/entity/player.md.erb" %></p>

## ScriptedPlayer
<p><%= partial "includes/entity/scripted_player.md.erb" %></p>

## ScriptedSpell
<p><%= partial "includes/entity/scripted_spell.md.erb" %></p>

## ScriptedObstacle
<p><%= partial "includes/entity/scripted_obstacle.md.erb" %></p>

## ScriptedArtifact
<p><%= partial "includes/entity/scripted_artifact.md.erb" %></p>
