## Field

The **`Field`** is a representation of the area that the current combat is taking place on.

It is the object that *manages* all of the <%= type 'Tile' %> and <%= type 'Entity' %> objects from frame to frame.

The **`Field`** is divided up into *eight* columns and *five* rows.<br>
The *playable area* starts at `[1,1]`, and ends at `[6,3]`. Most of the action takes place in this area.

The *leftmost/rightmost* columns (`x = 0` and `x = 7`), and the *top/bottom* rows (`y = 0` and `y = 4`) are *invisible tiles*.<br>
An <%= type 'Entity' %> cannot stand on these under normal circumstances.

<p><%= partial "includes/partial/field_diagram.md.erb" %></p>

<%= partial "includes/layout/print_type_info.md.erb", locals: { file: "/data/classes/field.json" } %>