<% _type_layout = "includes/layout/print_type_info.md.erb" %>
<% _type_layout = "includes/layout/print_type_info.md.erb" %>

## PlayerMeta
<p><%= partial _type_layout, locals:
  { file: "/data/classes/player_meta.json" } %></p>

## BlockMeta
<p><%= partial _type_layout, locals:
  { file: "/data/classes/block_meta.json" } %></p>

## BlockColor
<p><%= partial _type_layout, locals: 
    { file: "/data/enums/blocks.json" } %></p>

## CardMeta
<p><%= partial _type_layout, locals:
  { file: "/data/classes/card_meta.json" } %></p>

## CardProperties
<p><%= partial _type_layout, locals:
  { file: "/data/classes/card_properties.json" } %></p>

## CardClass
<p><%= partial _type_layout, locals: 
    { file: "/data/enums/card_class.json" } %></p>

## AdjacentCards
<p><%= partial _type_layout, locals:
  { file: "/data/classes/adjacent_cards.json" } %></p>

## LuaLibraryMeta
<p><%= partial _type_layout, locals:
  { file: "/data/classes/lua_library_meta.json" } %></p>

## MobMeta
<p><%= partial _type_layout, locals:
  { file: "/data/classes/mob_meta.json" } %></p>