## PlayerMeta

<% @class_header="PlayerMeta" %>
<% @class_name="<b><code>PlayerMeta</code></b>" %>
<% @variable_text="player_meta" %>
<% @meta_class="<b><code>Player</code></b>" %>

**`PlayerMeta`** objects provide information on <%= @link_player %>s and <%= @link_scripted_player %>s.<br>
Information included in these is meant to *not* change from moment to moment.

<p><%= partial "includes/metafiles/declare_package_id.md.erb" %></p>

<p><%= partial "includes/metafiles/set_health.md.erb" %></p>
<p><%= partial "includes/metafiles/set_special_description.md.erb" %></p>
<p><%= partial "includes/metafiles/set_attack.md.erb" %></p>
<p><%= partial "includes/metafiles/set_charged_attack.md.erb" %></p>
<p><%= partial "includes/metafiles/set_speed.md.erb" %></p>
<p><%= partial "includes/metafiles/set_uses_sword.md.erb" %></p>
<p><%= partial "includes/metafiles/set_overworld_animation_path.md.erb" %></p>
<p><%= partial "includes/metafiles/set_overworld_texture_path.md.erb" %></p>
<p><%= partial "includes/metafiles/set_mugshot_animation_path.md.erb" %></p>
<p><%= partial "includes/metafiles/set_mugshot_texture_path.md.erb" %></p>
<p><%= partial "includes/metafiles/set_preview_texture.md.erb" %></p>
<p><%= partial "includes/metafiles/set_icon_texture.md.erb" %></p>

## CardMeta

<% @class_header="CardMeta" %>
<% @class_name="<b><code>CardMeta</code></b>" %>
<% @variable_text="card_meta" %>
<% @meta_class="<b><code>Card</code></b>" %>

<p><%= partial "includes/metafiles/declare_package_id.md.erb" %></p>
<p><%= partial "includes/metafiles/set_preview_texture.md.erb" %></p>
<p><%= partial "includes/metafiles/set_icon_texture.md.erb" %></p>
<p><%= partial "includes/metafiles/set_codes.md.erb" %></p>
<p><%= partial "includes/metafiles/get_card_props.md.erb" %></p>

## CardProperties

<% @class_header="CardProperties" %>
<% @class_name="<b><code>CardProperties</code></b>" %>
<% @variable_text="card_props" %>
<% @meta_class="<b><code>Card</code></b>" %>

<p><%= partial "includes/metafiles/card_properties.md.erb" %></p>

## MobMeta

<% @class_header="MobMeta" %>
<% @class_name="<b><code>MobMeta</code></b>" %>
<% @variable_text="mob_meta" %>
<% @meta_class="<b><code>Mob</code></b>" %>

<p><%= partial "includes/metafiles/declare_package_id.md.erb" %></p>

<p><%= partial "includes/metafiles/set_health.md.erb" %></p>
<p><%= partial "includes/metafiles/set_name.md.erb" %></p>
<p><%= partial "includes/metafiles/set_description.md.erb" %></p>
<p><%= partial "includes/metafiles/set_attack.md.erb" %></p>
<p><%= partial "includes/metafiles/set_speed.md.erb" %></p>
