## Tile

<p><%= partial "includes/tile/get_x.md.erb" %></p>
<p><%= partial "includes/tile/get_y.md.erb" %></p>
<p><%= partial "includes/tile/get_width.md.erb" %></p>
<p><%= partial "includes/tile/get_height.md.erb" %></p>
<p><%= partial "includes/tile/get_state.md.erb" %></p>
<p><%= partial "includes/tile/set_state.md.erb" %></p>
<p><%= partial "includes/tile/is_edge.md.erb" %></p>
<p><%= partial "includes/tile/is_cracked.md.erb" %></p>
<p><%= partial "includes/tile/is_hole.md.erb" %></p>
<p><%= partial "includes/tile/is_walkable.md.erb" %></p>
<p><%= partial "includes/tile/is_hidden.md.erb" %></p>
<p><%= partial "includes/tile/is_reserved.md.erb" %></p>
<p><%= partial "includes/tile/get_team.md.erb" %></p>
<p><%= partial "includes/tile/attack_entities.md.erb" %></p>
<p><%= partial "includes/tile/get_distance_to_tile.md.erb" %></p>
<p><%= partial "includes/tile/find_characters.md.erb" %></p>
<p><%= partial "includes/tile/highlight.md.erb" %></p>
<p><%= partial "includes/tile/get_tile.md.erb" %></p>
<p><%= partial "includes/tile/contains_entity.md.erb" %></p>
<p><%= partial "includes/tile/remove_entity_by_id.md.erb" %></p>
<p><%= partial "includes/tile/reserve_entity_by_id.md.erb" %></p>
<p><%= partial "includes/tile/add_entity.md.erb" %></p>
