<% _class = locals[:c] %>
<% _callback = locals[:f] %>

### <%= _class["lua_class_name"] or _class["name"] %> . <%= _callback["name"] %>
<h4 class="version">callback • v<%= _callback["version"] %></h4>

    <%# VERSION INFORMATION %>
<% if _callback["incomplete"].present? or is_empty( _callback["description"] ) or is_empty( _callback["example_code"] ) %>
    <%# <p class= "data incomplete" > The data for this function is not fully filled out yet. </p> %>
<% else %>
    <p class= "data" > This data for this function is up-to-date, but may be missing some information on uses/restrictions. </p>
<% end %>

    <%# FUNCTION CALL %>
#### Callback Signature
<code>function(
    <%- if not is_empty( _callback["parameters"] ) %>
        <%# For all but the last in the parameter list, write the name + a comma after. %>
        <% _callback["parameters"][0...-1].each do |param| %>
            <%= param["name"] %>,
        <% end %>
        <%# For the last in the parameter list, just write the name, no comma. %>
        <%= _callback["parameters"].last["name"] %>
    <% end -%>
)</code>

    <%# RETURN VALUE %>
<% if not is_empty( _callback["return_value_type"] ) %>
    <%# Header has to be at the start of the line, unfortunately. %>
#### Return Value
    <b><code><%= _callback["return_value_type"] %></code></b>
    <% if _callback["return_value_desc"].present? %>
        <br>&emsp;<i><%= _callback["return_value_desc"] %></i>
    <% end %>
<% end %>

    <%# PARAMETERS %>
<% if not is_empty( _callback["parameters"] ) %>
    <%# Header has to be at the start of the line, unfortunately. %>
#### Parameters  
    <%# Print out the information on each of the parameters: Type, name, then description. %>
    <% _callback["parameters"][0...-1].each do |param| %>
        <%# For all but the last one, add in a line break afterwards. %>
        <b><code><%= param["type"] %></code></b>  <code><%= param["name"] %></code><br>
        &emsp;<i><%= param["desc"] %></i><br>
    <% end %>

    <% _last = _callback["parameters"].last %> 

    <%# For the last in the parameter list, just write the name, no line break. %>
    <b><code><%= _last["type"] %></code></b> <code><%= _last["name"] %></code><br>
    &emsp;<i><%= _last["desc"] %></i>
<% end %>

#### Description
    <%# LUA CODE %>
    <%# Unfortunately, these all HAVE to be at the start of the line or it'll cause problems for the parser. %>
<% if not is_empty( _callback["example_code"] ) %>
``` lua
<% _callback["example_code"].each do |line| %>
<%= line %>
<% end %>
```
<%= "> " + _callback["example_comment"] if _callback["example_comment"].present? %>
<% end %>

    <%# DESCRIPTION %>
<% if not is_empty( _callback["description"] ) %>
    <% if _callback["description"].respond_to? :each %>

        <% _callback["description"].each do |line| %>
            <%= line %><br>
        <% end %>
    <% elsif _callback["description"].is_a? String %>
        <%= _callback["description"] %>
    <% end %>
<% end %>

    <%# FOOT NOTES %>
<% if not is_empty( _callback["footnotes"] ) %>
    <% _callback["footnotes"].each do |note| %>
        <% if note["code"].present? %>
``` lua
            <% note["code"].each do |line| %>
<%= line %>
            <% end %>
```
        <% end %>
        <% if note["comment"].present? %>
> <%= note["comment"] %>
        <% end %>
        
        <aside class= <%= note["type"] %> >
            <% note["text"].each do |line| %>
                <%= line %><br>
            <% end %>
        </aside>
        
    <% end %>
<% end %>