<% _class = locals[:c] %>
<% _function = locals[:f] %>

    <%# HEADER %>
### <%= _class["lua_class_name"] or _class["name"] %>:<%= _function["name"] %>()
<h4 class="version">function • v<%= _function["version"] %></h4>

    <%# LUA CODE %>
    <%# Unfortunately, these all HAVE to be at the start of the line or it'll cause problems for the parser. %>
<% if not is_empty( _function["example_code"] ) %>
``` lua
<% _function["example_code"].each do |line| %>
<%= line %> 
<% end %>
```
    <%# LUA COMMENT %>
    <%# Ditto. %>
<% if _function["example_comment"].present? %>
> <%= _function["example_comment"] %>
<% end %>
<% end %>

    <%# DESCRIPTION %>
<% if not is_empty( _function["description"] ) %>
<span class="description">
    <% _function["description"].each do |line| %><%= line %><br><% end %>
</span>
<% end %>

    <%# FUNCTION CALL %>
#### Function Call
<span class="function_call"><%= _class["variable_text"] or _class["name"].downcase %>:<%= _function["name"] %>(<% partial "includes/partial/parameter_list.md.erb", locals: { parameters: _function["parameters"] } %>)</span>

    <%# PARAMETERS %>
<% if not is_empty( _function["parameters"] ) %>
#### Parameters
    <% _function["parameters"].each do |param| %>
        <span class="variable_type"><%= param["type"] %></span>
        <span class="variable_name"><%= param["name"] %></span>
        &emsp;<span class="variable_desc"><%= param["desc"] %></span><br>
    <% end %>
<% end %>

    <%# RETURN VALUE %>
<% if not is_empty( _function["return_value_type"] ) %>
#### Returns
<span class="variable_type"><%= _function["return_value_type"] %></span>
<% if _function["return_value_desc"].present? %><span class="return_value_desc"><%= _function["return_value_desc"] %></span><% end %>
<% end %>

    <%# FOOT NOTES %>
<% if not is_empty( _function["footnotes"] ) %>
    <% _function["footnotes"].each do |note| %>
        <% if note["code"].present? %>
``` lua
            <% note["code"].each do |line| %>
<%= line %>
            <% end %>
```
        <% end %>
        <% if note["comment"].present? %>
> <%= note["comment"] %>
        <% end %>
        
        <aside class= <%= note["type"] %> >
            <% note["text"].each do |line| %>
                <%= line %><br>
            <% end %>
        </aside>
        
    <% end %>
<% end %>