---
title: OpenNetBattle Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - lua

toc_footers:
  - <a href='https://github.com/TheMaverickProgrammer/OpenNetBattle'>OpenNetBattle @ GitHub</a>
  - <a href='https://github.com/protoBASILISK/OpenNetBattleDocs'>OpenNetBattle Docs @ GitHub</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

search: true

code_clipboard: true

meta:
  - name: OpenNetBattle
    content: Documentation for the OpenNetBattle Engine
---

<% partial 'link_list.erb' %>

# Overview

*This page is still a work-in-progress, documenting the various parts of the ONB API.*

# Gamefield Objects
<p><%= partial "includes/field.md.erb" %></p>
<p><%= partial "includes/tile.md.erb" %></p>

# Entity Objects
<p><%= partial "includes/entity.md.erb" %></p>

# CardAction Objects
<p><%= partial "includes/cardaction.md.erb" %></p>

# Utility Objects
<p><%= partial "includes/etc/color.md.erb" %></p>
<p><%= partial "includes/etc/moveevent.md.erb" %></p>

# Metadata Files
<p><%= partial "includes/metafiles.md.erb" %></p>

# Enums
<p><%= partial "includes/enums.md.erb" %></p>
