---
title: OpenNetBattle Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - lua

search: false

code_clipboard: true

meta:
  - name: OpenNetBattle
    content: Documentation for the OpenNetBattle Engine
---

<% _class_layout = "includes/layout/print_type_info.md.erb" %>
<% _enum_layout = "includes/layout/print_type_info.md.erb" %>

# Overview

*This page is still a work-in-progress, documenting the various parts of the ONB API.*

# Gamefield Objects
<p><%= partial "includes/field.md.erb" %></p>
<p><%= partial "includes/tile.md.erb" %></p>

# Entity Objects
<p><%= partial "includes/entity.md.erb" %></p>

## Lifetimes
<%= partial _enum_layout, locals: 
    { file: "/data/enums/lifetimes.json" } %>

# CardAction Objects
<p><%= partial "includes/cardaction.md.erb" %></p>

# Utility Objects

## Animation
<p><%= partial _class_layout, locals:
  { file: "/data/classes/animation.json" } %></p>

## Color
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/color.json" } %></p>

## DefenseRule
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/defense_rule.json" } %></p>

## DefenseOrder
<p><%= partial _class_layout, locals:
  { file: "/data/enums/defense_order.json" } %></p>

## DefenseFrameStateJudge
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/defense_frame_state_judge.json" } %></p>

## MoveEvent
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/move_event.json" } %></p>

## HitProps
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/hit_props.json" } %></p>

## Drag
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/drag.json" } %></p>

## Mob
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/mob.json" } %></p>

## Spawner
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/spawner.json" } %></p>

## SpawnMutator
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/spawn_mutator.json" } %></p>

## MoveEvent
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/move_event.json" } %></p>

## Vector2
<p><%= partial _class_layout, locals:
  { file: "/data/classes/etc/vector2.json" } %></p>

# Metadata Files
<p><%= partial "includes/metafiles.md.erb" %></p>

# Enums
<p><%= partial "includes/enums.md.erb" %></p>
