<% @p = "includes/entity/functions/" %>
<% @s = ".md.erb" %>

<%# The lines with the 'if' statements are ones that are only included by certain entity types. %>

<p><%= partial @p + "get_id" + @s %></p>
<p><%= partial @p + "get_name" + @s %></p>
<p><%= partial @p + "set_name" + @s if locals[:extras].include? "set_name" %></p>
<p><%= partial @p + "get_rank" + @s if locals[:extras].include? "get_rank" %></p>
<p><%= partial @p + "set_rank" + @s if locals[:extras].include? "set_rank" %></p>
<p><%= partial @p + "get_attack_level" + @s if locals[:extras].include? "get_attack_level" %></p>
<p><%= partial @p + "set_attack_level" + @s if locals[:extras].include? "set_attack_level" %></p>
<p><%= partial @p + "get_charge_level" + @s if locals[:extras].include? "get_charge_level" %></p>
<p><%= partial @p + "set_charge_level" + @s if locals[:extras].include? "set_charge_level" %></p>
<p><%= partial @p + "set_fully_charged_color" + @s if locals[:extras].include? "set_fully_charged_color" %></p>
<p><%= partial @p + "set_charge_position" + @s if locals[:extras].include? "set_charge_position" %></p>
<p><%= partial @p + "set_float_shoe" + @s if locals[:extras].include? "set_float_shoe" %></p>
<p><%= partial @p + "set_air_shoe" + @s if locals[:extras].include? "set_air_shoe" %></p>
<p><%= partial @p + "slide_when_moving" + @s if locals[:extras].include? "slide_when_moving" %></p>
<p><%= partial @p + "get_element" + @s %></p>
<p><%= partial @p + "set_element" + @s %></p>
<p><%= partial @p + "get_team" + @s %></p>
<p><%= partial @p + "is_team" + @s %></p>

<p><%= partial @p + "get_health" + @s %></p>
<p><%= partial @p + "get_max_health" + @s %></p>
<p><%= partial @p + "set_health" + @s %></p>
<p><%= partial @p + "mod_max_health" + @s if locals[:extras].include? "mod_max_health" %></p>
<p><%= partial @p + "get_max_health_mod" + @s if locals[:extras].include? "get_max_health_mod" %></p>
<p><%= partial @p + "get_tile" + @s %></p>
<p><%= partial @p + "get_current_tile" + @s %></p>
<p><%= partial @p + "get_field" + @s %></p>
<p><%= partial @p + "get_facing" + @s %></p>
<p><%= partial @p + "get_facing_away" + @s %></p>
<p><%= partial @p + "set_facing" + @s %></p>
<p><%= partial @p + "set_height" + @s %></p>
<p><%= partial @p + "get_height" + @s %></p>
<p><%= partial @p + "get_elevation" + @s %></p>
<p><%= partial @p + "set_elevation" + @s %></p>
<p><%= partial @p + "never_flip" + @s %></p>
<p><%= partial @p + "highlight_tile" + @s %></p>
<p><%= partial @p + "register_component" + @s %></p>
<p><%= partial @p + "share_tile" + @s if locals[:extras].include? "share_tile" %></p>
<p><%= partial @p + "toggle_hitbox" + @s if locals[:extras].include? "toggle_hitbox" %></p>
<p><%= partial @p + "add_defense_rule" + @s if locals[:extras].include? "add_defense_rule" %></p>
<p><%= partial @p + "remove_defense_rule" + @s if locals[:extras].include? "remove_defense_rule" %></p>
<p><%= partial @p + "toggle_counter" + @s if locals[:extras].include? "toggle_counter" %></p>
<p><%= partial @p + "on_countered" + @s if locals[:extras].include? "on_countered" %></p>
<p><%= partial @p + "shake_camera" + @s if locals[:extras].include? "shake_camera" %></p>
<p><%= partial @p + "set_explosion_behavior" + @s if locals[:extras].include? "set_explosion_behavior" %></p>

<p><%= partial @p + "hide" + @s %></p>
<p><%= partial @p + "reveal" + @s %></p>
<p><%= partial @p + "show_shadow" + @s %></p>
<p><%= partial @p + "set_shadow" + @s if locals[:extras].include? "set_shadow" %></p>
<p><%= partial @p + "copy_hit_props" + @s %></p>
<p><%= partial @p + "set_hit_props" + @s %></p>

<p><%= partial @p + "slide" + @s %></p>
<p><%= partial @p + "jump" + @s %></p>
<p><%= partial @p + "teleport" + @s %></p>
<p><%= partial @p + "raw_move_event" + @s %></p>

<p><%= partial @p + "is_sliding" + @s %></p>
<p><%= partial @p + "is_jumping" + @s %></p>
<p><%= partial @p + "is_teleporting" + @s %></p>
<p><%= partial @p + "is_moving" + @s %></p>

<p><%= partial @p + "get_texture" + @s %></p>
<p><%= partial @p + "set_texture" + @s %></p>
<p><%= partial @p + "get_color" + @s %></p>
<p><%= partial @p + "set_color" + @s %></p>
<p><%= partial @p + "get_base_palette" + @s %></p>
<p><%= partial @p + "get_current_palette" + @s %></p>
<p><%= partial @p + "set_palette" + @s %></p>
<p><%= partial @p + "store_base_palette" + @s %></p>
<p><%= partial @p + "sprite" + @s %></p>
<p><%= partial @p + "get_animation" + @s %></p>
<p><%= partial @p + "set_animation" + @s %></p>
<p><%= partial @p + "create_node" + @s %></p>
<p><%= partial @p + "create_sync_node" + @s if locals[:extras].include? "create_sync_node" %></p>
<p><%= partial @p + "remove_sync_node" + @s if locals[:extras].include? "remove_sync_node" %></p>

<p><%= partial @p + "erase" + @s %></p>
<p><%= partial @p + "delete" + @s %></p>
<p><%= partial @p + "is_deleted" + @s %></p>
<p><%= partial @p + "will_erase_eof" + @s %></p>

<p><%= partial @p + "get_offset" + @s %></p>
<p><%= partial @p + "set_offset" + @s %></p>
<p><%= partial @p + "get_tile_offset" + @s %></p>

<p><%= partial @p + "register_status_callback" + @s if locals[:extras].include? "register_status_callback" %></p>
<p><%= partial @p + "normal_attack_func" + @s if locals[:extras].include? "normal_attack_func" %></p>
<p><%= partial @p + "charged_attack_func" + @s if locals[:extras].include? "charged_attack_func" %></p>
<p><%= partial @p + "special_attack_func" + @s if locals[:extras].include? "special_attack_func" %></p>
<p><%= partial @p + "attack_func" + @s if locals[:extras].include? "attack_func" %></p>
<p><%= partial @p + "collision_func" + @s if locals[:extras].include? "collision_func" %></p>
<p><%= partial @p + "update_func" + @s if locals[:extras].include? "update_func" %></p>
<p><%= partial @p + "delete_func" + @s if locals[:extras].include? "delete_func" %></p>
<p><%= partial @p + "on_spawn_func" + @s if locals[:extras].include? "on_spawn_func" %></p>
<p><%= partial @p + "battle_start_func" + @s if locals[:extras].include? "battle_start_func" %></p>
<p><%= partial @p + "battle_end_func" + @s if locals[:extras].include? "battle_end_func" %></p>
<p><%= partial @p + "can_move_to_func" + @s if locals[:extras].include? "can_move_to_func" %></p>
