<% @class_header="Character" %>
<% @class_name="<b><code>Character</code></b>" %>
<% @variable_text="character" %>

<p><%= partial "includes/entity/functions/get_id.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_tile.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_current_tile.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_field.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_facing.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_sliding.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_alpha.md.erb" %></p>
<p><%= partial "includes/entity/functions/sprite.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_jumping.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_alpha.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_teleporting.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_color.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_moving.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_color.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_deleted.md.erb" %></p>
<p><%= partial "includes/entity/functions/slide.md.erb" %></p>
<p><%= partial "includes/entity/functions/jump.md.erb" %></p>
<p><%= partial "includes/entity/functions/teleport.md.erb" %></p>
<p><%= partial "includes/entity/functions/hide.md.erb" %></p>
<p><%= partial "includes/entity/functions/reveal.md.erb" %></p>
<p><%= partial "includes/entity/functions/raw_move_event.md.erb" %></p>
<p><%= partial "includes/entity/functions/will_remove_eof.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_team.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_texture.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_texture.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_height.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_animation.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_position.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_element.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_element.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_passthrough.md.erb" %></p>
<p><%= partial "includes/entity/functions/register_component.md.erb" %></p>


<p><%= partial "includes/entity/functions/get_name.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_team.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_health.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_max_health.md.erb" %></p>
<p><%= partial "includes/entity/functions/add_node.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_name.md.erb" %></p>

<p><%= partial "includes/entity/functions/set_health.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_position.md.erb" %></p>



<p><%= partial "includes/entity/functions/share_tile.md.erb" %></p>

<p><%= partial "includes/entity/functions/add_defense_rule.md.erb" %></p>
<p><%= partial "includes/entity/functions/remove_defense_rule.md.erb" %></p>


<p><%= partial "includes/entity/functions/get_rank.md.erb" %></p>
<p><%= partial "includes/entity/functions/toggle_counter.md.erb" %></p>
