<% @class_header="ScriptedSpell" %>
<% @class_name="<b><code>ScriptedSpell</code></b>" %>
<% @variable_text="scripted_spell" %>

<p><%= partial "includes/entity/functions/get_id.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_tile.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_current_tile.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_field.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_facing.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_sliding.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_alpha.md.erb" %></p>
<p><%= partial "includes/entity/functions/sprite.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_jumping.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_alpha.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_teleporting.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_color.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_moving.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_color.md.erb" %></p>
<p><%= partial "includes/entity/functions/is_deleted.md.erb" %></p>
<p><%= partial "includes/entity/functions/slide.md.erb" %></p>
<p><%= partial "includes/entity/functions/jump.md.erb" %></p>
<p><%= partial "includes/entity/functions/teleport.md.erb" %></p>
<p><%= partial "includes/entity/functions/hide.md.erb" %></p>
<p><%= partial "includes/entity/functions/reveal.md.erb" %></p>
<p><%= partial "includes/entity/functions/raw_move_event.md.erb" %></p>
<p><%= partial "includes/entity/functions/will_remove_eof.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_team.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_texture.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_texture.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_height.md.erb" %></p>
<p><%= partial "includes/entity/functions/get_animation.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_position.md.erb" %></p>




<p><%= partial "includes/entity/functions/remove.md.erb" %></p>
<p><%= partial "includes/entity/functions/delete.md.erb" %></p>

<p><%= partial "includes/entity/functions/is_team.md.erb" %></p>


<p><%= partial "includes/entity/functions/add_node.md.erb" %></p>

<p><%= partial "includes/entity/functions/update_func.md.erb" %></p>

<p><%= partial "includes/entity/functions/get_position.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_animation.md.erb" %></p>
<p><%= partial "includes/entity/functions/delete_func.md.erb" %></p>
<p><%= partial "includes/entity/functions/can_move_to_func.md.erb" %></p>

<p><%= partial "includes/entity/functions/on_spawn_func.md.erb" %></p>


<p><%= partial "includes/entity/functions/never_flip.md.erb" %></p>
<p><%= partial "includes/entity/functions/shake_camera.md.erb" %></p>


<p><%= partial "includes/entity/functions/set_facing.md.erb" %></p>
<p><%= partial "includes/entity/functions/highlight_tile.md.erb" %></p>
<p><%= partial "includes/entity/functions/set_hit_props.md.erb" %></p>
<p><%= partial "includes/entity/functions/show_shadow.md.erb" %></p>
<p><%= partial "includes/entity/functions/attack_func.md.erb" %></p>
<p><%= partial "includes/entity/functions/collision_func.md.erb" %></p>


<p><%= partial "includes/entity/functions/copy_hit_props.md.erb" %></p>











